body{
    background: rgb(218, 233, 235);
}
h1{
    color:darkseagreen;
    text-align: center;
    font-family: "Garamond", "serif";
}
img{
    width: 70%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: floralwhite;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}
a{
   color:darkseagreen;
   font-family: "Garamond", "serif";
}
p{
    color: darkseagreen;
    text-align: center;
    font-family: "Garamond", "serif";
}

footer{
        color:darkseagreen;
        text-align: center;
        font-family: "Garamond", "serif";
        margin-top: 5%;
        margin-bottom: 5%;
}